@page "/Parent"
<h3>Parent Page</h3>

<ChildComponent Text ="Text set in parent." Callback="OnChildChanged" />


<h3>Modify this from child when a button is pressed.</h3>
<p>@parentText</p>

@code {
    string parentText = "Nothing changed yet.";

    private async Task OnChildChanged(string message)
    {
        await Task.Delay(5000);
        parentText = message;
    }
}
